.MuiChip-root {
  border-radius: 0;
}

.FilterInput {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-inline: 20px;
}

.FilterInput__AutoComplete {
  :global(.MuiInputBase-input) {
    font-size: 13px;
    font-family: 'Lexend';
    font-weight: 400;
    height: 24px;
    padding: 0 !important;
  }

  :global(.MuiButtonBase-root) {
    height: 19px;
    font-size: 10px;
    border-radius: 5px;
  }

  :global(.MuiChip-deleteIcon) {
    height: 14px;
  }
}